.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open .modal {
    transform: translate(-50%, -50%) scale(1);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}
.form-field {
    margin-bottom: 8px;
}
.comment-field {
    margin-bottom: 16px;
}
.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.input-wrapper {
    position: relative;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4d5ae5;
}
.modal-submit-btn{
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: #404bbf;
}
.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus+.input-icon {
    fill: #4d5ae5;
}
.form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
    border-color: #4d5ae5;
}
.checkbox-wrapper {
    margin-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.custom-checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
    fill: #f4f4fd;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.real-checkbox:checked+.custom-checkbox-label .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.real-checkbox:checked+.custom-checkbox-label .checkbox-icon {
    opacity: 1;
}
.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}